/* ######## google fonts link ################ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  position: relative;
}
body {
  background-color: #101820;
}

body a.up {
  text-decoration: none;
  color: #000;
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fee715;
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 20px;
  transition: 0.3s ease-in-out;
  opacity: 0.5;
}
body a.up i {
  font-size: 29px;
}
.mainContainer {
  width: 100%;
}
.mainContainer .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
}
.navbar .logo {
  flex-basis: 25%;
}
.navbar .list {
  width: 55%;
}
.navbar .btnBox {
  flex-basis: 15%;
}
.mainContainer .navbar .logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.logo h1 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}
.mainContainer .navbar .logo img {
  width: 80px;
  margin-right: 4px;
}
.navbar .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.list li {
  list-style: none;
  transition: 0.3s ease-in-out;
}
.list li:hover a {
  color: #fee715;
}
.list li:hover a::after {
  width: 100%;
}
.list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.list li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fee715;
  transition: 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar .btnBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btnBox button {
  width: 100%;
  height: 35px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #fee715;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btnBox button:hover {
  background-color: transparent;
  border: 1px solid #fee715;
}
.btnBox button a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
}
.btnBox button:hover a {
  color: #fee715;
}
.navbar i {
  font-size: 40px;
  color: #fee715;
  display: none;
  cursor: pointer;
}

/* ################### intro section styling ################ */
.mainContainer .intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}
.intro .textArea,
.picArea {
  flex-basis: 50%;
}
.intro .textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.intro .textArea h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
}
.intro .textArea h1 {
  font-size: 44px;
  color: #fff;
  margin-bottom: 10px;
}
.intro .textArea p {
  font-size: 23px;
  color: #fff;
  margin-bottom: 10px;
}
.textArea p span {
  color: #fee715;
}
.textArea .btnArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnArea button {
  width: 45%;
  height: 55px;
  border-radius: 30px;
  background: #fee715;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btnArea button a {
  text-decoration: none;
  color: #000;
}
.btnArea button:hover {
  background: transparent;
  color: #fee715;
  border: 1px solid #fee715;
}
.btnArea button:hover a {
  color: #fee715;
}
.btnArea .about {
  background: transparent;
  color: #fee715;
  border: 1px solid #fee715;
}
.btnArea .about:hover {
  border: none;
  background: #fee715;
  color: #000;
}
.intro .picArea {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picArea .picBox {
  width: 340px;
  border-radius: 50%;
}
.picArea .picBox img {
  width: 100%;
  border-radius: 50%;
}

/* ##################### about section styling ###################### */
.mainContainer #about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}
.mainContainer #about h1 {
  font-size: 34px;
  color: #fff;
}
#about .aboutContainer {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#about .aboutPic {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 30px;
}
.aboutPic .picBox {
  width: 340px;
  border-radius: 50%;
}
.aboutPic .picBox img {
  width: 100%;
  border-radius: 50%;
}
.aboutContainer .aboutText {
  flex-basis: 55%;
  padding: 30px;
  border: 2px dashed #fff;
}
.aboutContainer .aboutText h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.aboutContainer .aboutText p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
.aboutContainer .aboutText a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 1px solid #fee715;
  text-decoration: none;
  color: #fee715;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.aboutContainer .aboutText a:hover {
  background-color: #fee715;
  color: #000;
}
/* ######################## skills styling ########################## */
.mainContainer #skill  {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}
.mainContainer #skill h1 {
  font-size: 34px;
  color: #fff;
}
#skill .skillBox {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#skill .skillBox {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 30px;
}
.skillBox .skill1{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px ;
  background-color: #fee715;
  border-radius: 20px;
}
.skillBox .skill1 i{
  font-size: 50px;
  margin-bottom: 20px;
}
.skillBox .skill1 h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.skillBox .skill1 p{
  font-size: 17px;
  font-weight: 500px;
}
/* ################### projects Section styling ######################## */
.mainContainer #projects  {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}
#projects h1{
  font-size: 30px;
  color: #fff;
}
#projects .projectBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}
#projects .projectBox .project{
  flex-basis: 30%;
  height: 310px;
  border: 1px dashed #fee715;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.projectBox .project h2{
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.projectBox .project p{
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}
.projectBox .project a{
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #fee715;
  border: 1px solid #fee715;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.projectBox .project a:hover{
  background-color: #fee715;
  color: #000;
}
/* ################################ media Query #################################### */
@media (max-width: 920px) {
  .mainContainer .navbar {
    padding: 5px 10px;
    position: relative;
  }
  .navbar .logo h1 {
    font-size: 20px;
  }
  .mainContainer .navbar .logo img {
    width: 50px;
  }
  .navbar .list {
    order: 2;
    flex-direction: column;
    position: absolute;
    top: -450px;
    right: 0;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    background: #fee715;
    padding: 50px 0px 10px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .list li {
    margin: 10px 0;
  }
  .list li:hover a {
    color: #fff;
  }
  .list li a {
    font-size: 20px;
    color: #000;
  }
  .list li a::after {
    background: #000;
  }
  .navbar .btnBox {
    flex-basis: 25%;
    justify-content: flex-end;
  }
  .btnBox button a {
    font-size: 13px;
    font-weight: 600;
  }
  .navbar i {
    display: inline-block;
    z-index: 50;
  }
  /* ######################## intro section styling ############### */

  .mainContainer .intro {
    flex-direction: column;
    padding: 30px 10px;
  }
  .mainContainer .intro .picArea,
  .textArea {
    width: 100%;
  }
  .intro .textArea {
    align-items: center;
    margin-bottom: 50px;
  }
  .intro .textArea h2 {
    font-size: 17px;
  }
  .intro .textArea h1 {
    font-size: 28px;
  }
  .intro .textArea p {
    font-size: 15px;
  }
  .intro .textArea .btnArea {
    width: 70%;
    justify-content: center;
  }
  .intro .textArea .btnArea button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    margin-right: 10px;
  }
  .intro .picArea .picBox {
    width: 280px;
  }
  /* ############### about section styling ############### */
  .mainContainer #about {
    flex-direction: column;
    padding: 30px 10px;
  }
  #about .aboutContainer {
    padding: 0px;
  }
  #about .aboutContainer .aboutPic,
  .aboutContainer .aboutText {
    flex-basis: 100%;
  }
  .aboutContainer .aboutText {
    padding: 10px;
  }
  .aboutContainer .picBox {
    width: 240px;
  }
  /* ##################### skill section styling ################## */
  .mainContainer #skill{
    padding: 20px 30px;
  }
  #skill .skillBox .skill1{
    padding: 10px;
  }
  .skillBox .skill1 h4{
    font-size: 15px;
  }
  .skillBox .skill1 p{
    font-size: 15px;
  }

}

/* ########### media query for projects #################### */
@media (max-width:855px){
  .mainContainer #projects{
    padding: 20px 30px;
  }
  #projects .projectBox{
    justify-content: space-evenly;
  }
  #projects .projectBox .project{
    flex-basis: 45%;
    flex-wrap: wrap;
  }
}

@media (max-Width: 545px){
  .mainContainer #projects {
    padding: 20px;
  }
  #projects .projectBox .project{
    flex-basis:100%;
  }
}